/*
 * @authors Limuy (ting.lium@outlook.com)
 * @date    2015-08-19 11:13:35
 * @version 1.0
 */
 a{
	text-decoration: none;
	color: #000;
}
#top{
	height: 150px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: #FEFEFE;
}
.topLeft{
	height: 150px;
	width: 20%;
	float: left;
	background-color: #212326;
}
.topRight{
	height: 100px;
}
.logo{
	width: 90px;
	height: 90px;
	float: left;
	margin: 30px 60px 30px 170px;
}
.logo img{
	border-radius: 100%;
}
.characters{
	padding-top: 10px;
	font-family: "YaHei Consolas Hybrid";
}
.characters h1{
	font-size: 28px;
	margin-top: 32px;
	margin-bottom: 28px;
}
.links{
	float: right;
	margin-right: 210px;
}
.links span{
	margin-left: 20px;
}
#left{
	width: 20%;
	height: 570px;
	position: fixed;
	z-index: 20;
	top: 150px;
	left: 0;
	background-color: #212326;
}
#left p{
	display: inline-block;
	margin: 100px 20px 0 33px;
	line-height: 35px;
	color: #E6E6E6;
	font-size: 14px;
	font-family: "YaHei Consolas Hybrid";
}
#right{
	width: 85%;
	position: absolute;
	top: 151px;
	left: 202px;
}
.nav{
	width: 100%;
	height: 30px;
	position: relative;
	top: 0;
	left: 0;
	background-color: #FAFAFA;
	font-family: "YaHei Consolas Hybrid";
	box-shadow: 1px 0 1px 0;
}
.nav ul{
	height: 30px;
	list-style: none;
	margin-left: 225px;
}
.nav ul li{
	line-height: 30px;
	float: left;
	padding: 0 15px;
}
#content{
	width: 700px;
	margin-top: 30px;
	margin-left: 235px;
}
.articleBox{
	padding: 10px 0 20px 0;
	margin-top: 20px;
}
.boxImg{
	width: 700px;
	height: 210px;
}
.articlePreview{
	font-family: "YaHei Consolas Hybrid";
	margin-top: 20px;
}
.articlePreview h2{
	font-size: 22px;
	margin-bottom: 10px;
}
.articlePreview h2 a:hover{
	color: green;
}
.articlePreview p{
	line-height: 24px;
}